fastapi
httpx
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
python-multipart
python-jose[cryptography]
requests
pydantic
email-validator
python-docx
pdfplumber
alembic
python-dateutil
redis
